.svgContainer {
  max-width: 1200px;
  max-height: 200px;
}


.svgContainer--tall {
  max-height: 525px;
}

line {
  stroke: red;
  stroke-linecap: round;
  stroke-width: 5;
}

circle {
  fill:lightblue;
  stroke: red;
  fill-opacity: .5;
}


#blueLine {
    stroke: blue;
    stroke-width: 12;
}

rect {
  stroke-width: 1;
  stroke: steelblue;
  fill: #888;
  fill-opacity: .5;
}

polygon {
  fill: green;
  fill-opacity: .6;
  stroke: yellow;
  stroke-width: 2;
}
